@model InvoiceManager.Models.ViewModels.AddEditClientsViewModel


<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("AddClient", "Home"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()



    <p class="alert alert-info mt-4 mb-4">
        Pola Nazwa, Adres oraz Adres email
        <strong>wymagane</strong>
    </p>

    @Html.HiddenFor(x => x.Client.Id)

    <div class="form-group mb-2">
        @Html.LabelFor(x => x.Client.Name)
        @Html.TextBoxFor(x => x.Client.Name,
           new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Client.Name)
    </div>

    <div class="form-group mb-2">
        @Html.LabelFor(x => x.Address.City)
        @Html.TextBoxFor(x => x.Address.City,
           new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Address.City)
    </div>

    <div class="form-group mb-2">
        @Html.LabelFor(x => x.Address.PostalCode)
        @Html.TextBoxFor(x => x.Address.PostalCode,
           new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Address.PostalCode)
    </div>

    <div class="form-group mb-2">
        @Html.LabelFor(x => x.Address.Street)
        @Html.TextBoxFor(x => x.Address.Street,
           new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Address.Street)
    </div>

    <div class="form-group mb-2">
        @Html.LabelFor(x => x.Address.Number)
        @Html.TextBoxFor(x => x.Address.Number,
           new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Address.Number)
    </div>

    <div class="form-group mb-2">
        @Html.LabelFor(x => x.Client.Email)
        @Html.TextBoxFor(x => x.Client.Email,
           new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Client.Email)
    </div>


    <button class="btn btn-primary mt-2" type="submit">
        Zapisz
    </button>
}


